﻿@model IEnumerable<TestApp.Models.Relatives>

@{
    ViewBag.Title = "Index";
}
  <script>
  $(function() {
      $("#SearchBDate").datepicker({
          changeMonth: true,
          changeYear: true,
          dateFormat: 'dd.mm.yy'
      }).disableSelection();
  });
  </script>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Search","Relatives")){
        <table>
            <tr>
                <th>
                    SurName: 
                </th>
                <th>
                    @Html.TextBox("SearchSurName") 
                </th>
            </tr>
            <tr>
                <th>
                    Name: 
                </th>
                <th>
                    @Html.TextBox("SearchName") 
                </th>
            </tr>
            <tr>
                <th>
                    LastName: 
                </th>
                <th>
                    @Html.TextBox("SearchLastName") 
                </th>
            </tr>
            <tr>
                <th>
                    BirthDate: 
                </th>
                <th>
                    @Html.TextBox("SearchBDate") 
                </th>
            </tr>
            <tr>
                <th>
                    Address: 
                </th>
                <th>
                    @Html.TextBox("SearchAddress") 
                </th>
            </tr>
            <tr>
                <th>
                    Sex: 
                </th>
                <th>
                    @Html.DropDownList("SearchSex", ViewData["SearchSex"] as SelectList) 
                   <!--
                    <select id="SearchSex" name="SearchSex">
                        <option value=""></option>
                        <option value="F">Female</option>
                        <option value="M">Male</option>
                    </select> 
                     -->
                </th>
            </tr>

        </table> 
    <input type="submit" value="Filter" />
} 
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SurName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SurName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotherID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatherID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sex)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
